{% extends 'base.html' %}

{% block content %}
    <h1>Inventory List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Sector</th>
                <th>Application</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item['name'] }}</td>
                <td>{{ item['quantity'] }}</td>
                <td>{{ item['category'] }}</td>
                <td>{{ item['sector'] }}</td>
                <td>{{ item['application'] }}</td>
                <td>{{ item['date_added'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
